.img-thumbnail{
    border-radius: 16px;
}
.rounded-circle {
    border-radius: 50%;
}
.rounded {
    border-radius: 6px!important;
}
.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}
.img-small {
    max-width: 14%;
    height: auto;
}

.img-raised{
    @include shadow-big();
}
