<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation Web.config, visitez https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=az1-wsq1.a2hosting.com;initial catalog=lasphere_digitalfarm;User ID=lasphere_user_1;Password=ng03uO#9" providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"
         />
    <add name="FAISEntities" connectionString="metadata=res://*/Models.FAIS_MODEL.csdl|res://*/Models.FAIS_MODEL.ssdl|res://*/Models.FAIS_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=az1-wsq1.a2hosting.com;initial catalog=lasphere_digitalfarm;User ID=lasphere_user_1;Password=ng03uO#9;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="title" value="ASMA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="homeLink" value="/" />
    <add key="userPhoto" value="Content/img/default-avatar.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="cors" value="http://localhost:8080;http://laspheredigitale.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation « Replace » remplacera toute la
      <customErrors> section de votre fichier Web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le
      <system.web> nœud, il n'est pas nécessaire d'utiliser l'attribut « xdt:Locator ».

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
