################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/FAIS/bin
/FAIS/fonts
/FAIS/obj/Debug
/packages
