<div id="vappEditionWidget_@ViewBag.compKey">
    test : {{ props }}
</div>
<script type="text/javascript">
    window["vappEditionWidget"+ "@ViewBag.compKey"] = new Vue({
        el: "#vappEditionWidget_@ViewBag.compKey",
        data: {
            props: null,
            data: []
        },
        methods: {
            val: function (props) {
                this.props = props;
                this.load();

                return this.props;
            },
            load: function () {
                log.blue("LOAD EDIT WDGT", window.location.hash);
            },
        }
    });
</script>
