<style>
    .sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a, .off-canvas-sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a {
        padding-left: 35px !important;
    }
</style>


<script id="v-menu-item-template" type="text/template">
    <!-- <li>
        <a data-toggle="collapse" class="collapsed" aria-expanded="false">
            <i class="material-icons">image</i>
            <p>
                Pages
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" aria-expanded="false" style="height: auto;">
            <ul class="nav">
                <li>
                    <a href="./pages/pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="./pages/timeline.html">Timeline</a>
                </li>
                <li>
                    <a href="./pages/login.html">Login Page</a>
                </li>
                <li>
                    <a href="./pages/register.html">Register Page</a>
                </li>
                <li>
                    <a href="./pages/lock.html">Lock Screen Page</a>
                </li>
                <li>
                    <a href="./pages/user.html">User Profile</a>
                </li>
            </ul>
        </div>
    </li>-->

    <li v-if="parent">
        <a aria-expanded="false" data-toggle="collapse" class="v-collapse-a" v-on:click="isOpen = !isOpen">
            <i class="material-icons">{{ icon }}</i>
            <p>
                {{ text }}
                <b class="caret"></b>
            </p>
        </a>
        <div aria-expanded="false" :class="'v-collapse ' + getOpenClass()">
            <ul class="nav">
                <li v-for="item in childs" v-if="item.parent==parent">
                    <a aria-expanded="false" data-toggle="collapse" class="v-collapse-a" v-on:click="item.open= !item.open">
                        <i class="material-icons">{{item.icon}}</i>
                        <p>
                            {{item.text}}
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div aria-expanded="false" :class="'v-collapse ' + getOpenClass_sub_menu(item.open)">
                        <ul class="nav">
                            <li v-for="item_sub in item.childs">
                                <a :href="'#' + item_sub.href" style="margin-left:30px">
                                    <i class="material-icons">{{ item_sub.icon }}</i>
                                    <p>{{ item_sub.text }}</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>
                <li v-else>
                    <a :href="href">
                        <i class="material-icons">{{ icon }}</i>
                        <p>{{ text }}---</p>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li v-else>
        <a :href="href">
            <i class="material-icons">{{ icon }}</i>
            <p>{{ text }}</p>
        </a>
    </li>
</script>
<script type="text/javascript">
    Vue.component('v-menu-item', {
        template: $("#v-menu-item-template").html(),
        props: {
            parent: {
                type: Boolean,
                default: false
            },
            href: String,
            icon: String,
            text: String,
            cle: undefined,
            childs: Array
        },
        data: function () {
            return {
                isOpen: false,
                isOpen_sub: false
            };


        },
        methods: {
            getOpenClass: function (v) {
                return this.isOpen ? "open" : " collapse";
            },
            getOpenClass_sub_menu: function (v) {
                return v ? "open" : " collapse";


            }
        }
    });
    /* var Sidebar_isOpen = ($(".sidebar-wrapper.ps-active-x")[0]) ? "true" : "false";
     $("#minimizeSidebar").click(function () {
         if (Sidebar_isOpen == true) {
             $(".v-collapse.open").addClass("hide");
             $(".v-collapse.open").removeClass("open");
         } else {
             $(".v-collapse.hide").addClass("open");
             $(".v-collapse.hide").removeClass("open");
         }
     })*/
    $(".v-collapse").each(function () {
        //  console.log(0);
        $(this).addClass("collapse");
    })

</script>
