
#Preloader {
    position: fixed;
    background: #fff;
    z-index: 99;
    width: 100%;
    height: 100%;
    font-size:150%;
}

.PagePreloader {
    position: absolute;
    background: #fff;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #5c606387; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.i-btn-round {
    border: #666 1px dotted;
    border-radius: 50%;
    cursor: pointer;
}
.i-btn-round:hover {
    background-color:#ddd;
}