@{
    Layout = null;
}
<div id="vue_det">
    <h1>Firstname : {{firstname}}</h1>
    <h1>Lastname : {{lastname}}</h1>
    <div v-html="htmlcontent"></div>
    <img v-bind:src="sourceImage" width="300" height="250" />
</div>

<style>
</style>

<script>
    var vm = new Vue({
        el: '#vue_det',
        data: {
            firstname: "Ria",
            lastname: "Singh",
            htmlcontent: "<div><h1>Vue Js Template</h1></div>",
            sourceImage:"Content/img/faces/avatar.jpg"
        }
    })
</script>
