@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="green">
                <i class="material-icons">language</i>
            </div>
            <div class="card-content">
                qsdqsds
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group label-floating is-empty">
                        <select class="selectpicker" data-style="select-with-transition" multiple title="Choose City" data-size="7">
                            <option disabled> Choose city</option>
                            <option value="2">Paris </option>
                            <option value="3">Bucharest</option>
                            <option value="4">Rome</option>
                            <option value="5">New York</option>
                            <option value="6">Miami </option>
                            <option value="7">Piatra Neamt</option>
                            <option value="8">Paris </option>
                            <option value="9">Bucharest</option>
                            <option value="10">Rome</option>
                            <option value="11">New York</option>
                            <option value="12">Miami </option>
                            <option value="13">Piatra Neamt</option>
                            <option value="14">Paris </option>
                            <option value="15">Bucharest</option>
                            <option value="16">Rome</option>
                            <option value="17">New York</option>
                            <option value="18">Miami </option>
                            <option value="19">Piatra Neamt</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<style>
</style>
<script type="text/javascript">
    console.log(EV);
</script>