
<script id="FormEmailTemplate" type="text/template">

    <div class="form-group label-floating">
        <label class="control-label">Email{{ type }}</label>
        <input type="email" class="form-control">
    </div>
</script>


<script type="text/javascript">
    Vue.component('form-email-component', {
        template: $("#FormEmailTemplate").html()
       
    });

</script>


<script id="FormTextTemplate" type="text/template">

    <div class="form-group label-floating">
        <label class="control-label">text{{ type }}</label>
        <input type="text" class="form-control">
    </div>
</script>


<script type="text/javascript">
    Vue.component('form-text-component', {
        template: $("#FormTextTemplate").html()

    });

</script>


<script id="FormLisTemplate" type="text/template">

    <div class="form-group label-floating">
        <select class="selectpicker" data-style="select-with-transition" multiple title="List" data-size="7">
            <option disabled> Choose city</option>
            <option value="2">Paris </option>
            <option value="3">Bucharest</option>
            <option value="4">Rome</option>
            <option value="5">New York</option>
            <option value="6">Miami </option>
            <option value="7">Piatra Neamt</option>
            <option value="8">Paris </option>
            <option value="9">Bucharest</option>
            <option value="10">Rome</option>
            <option value="11">New York</option>
            <option value="12">Miami </option>
            <option value="13">Piatra Neamt</option>
            <option value="14">Paris </option>
            <option value="15">Bucharest</option>
            <option value="16">Rome</option>
            <option value="17">New York</option>
            <option value="18">Miami </option>
            <option value="19">Piatra Neamt</option>
        </select>
    </div>
</script>


<script type="text/javascript">
    Vue.component('form-list-component', {
        template: $("#FormLisTemplate").html()

    });

</script>
<script id="FormDatePickerTemplate" type="text/template">
    <div class="form-group">
        <label class="label-control">Date Picker</label>
        <input type="text" class="form-control datepicker" value="10/10/2016" />
    </div>

</script>


<script type="text/javascript">
    Vue.component('form-datepicker-component', {
        template: $("#FormDatePickerTemplate").html()

    });

</script>

<script id="FormDateCheckboxTemplate" type="text/template">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="optionsCheckboxes">Checkbox
            </label>
        </div>
    </div>

</script>


<script type="text/javascript">
    Vue.component('form-checkbox-component', {
        template: $("#FormDateCheckboxTemplate").html()

    });

</script>