<div class="container-fluid">
    <div id="PagePreloader" class="container PagePreloader">
        <center style="margin:10% 0 0 0">
            <div class="loader"></div>
            <br />
            Chargement en cours
        </center>
    </div>
    <div id="viewcontainer">

    </div>
</div>