<div class="col-md-12" style="height:700px">
    <iframe style="height:100%;width:100%;border:none;" src="https://faisonline.herokuapp.com/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjEyfSwicGFyYW1zIjp7fSwiaWF0IjoxNTQ1NzU1MTIzLCJfZW1iZWRkaW5nX3BhcmFtcyI6e319.T0JF3v2hUQfWu8XQfKPWQZjOotqMUALMmVs1rA87pao#bordered&titled&refresh=60"></iframe>
</div>