.drug{
	width: 50px;
    height: 50px;
	background-size: cover !important;
}
.drug.drug-mini{
	width: 16px;
    height: 16px;
}
sub{
	font-size: 70%;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.strong{
    font-weight:bold !important;
}